<div class="ng-cloak" ng-controller="brCredentialController as model">
  <div class="row">
    <div class="section col-md-12">
      <br-headline br-title="Credential" br-loading="model.loading || model.state.credentials.loading"
        br-options="{menu: !model.credential}">
        <ul class="stackable-menu dropdown-menu">
          <li ng-hide="model.credential.sysIsPublic">
            <a class="stackable-cancel" ng-click="model.modals.credential=model.credential; model.modals.showEditCredentialModal=true">
              <i class="fa fa-pencil"></i> Edit
            </a>
          </li>
          <li>
            <a class="stackable-cancel" ng-click="model.modals.credential=model.credential; model.modals.showExportCredentialModal=true">
              <i class="fa fa-cloud-upload"></i> Export
            </a>
          </li>
          <li class="alert-danger">
            <a class="stackable-cancel" ng-click="model.modals.credential=model.credential; model.modals.showDeleteCredentialAlert=true">
              <i class="fa fa-remove"></i> Delete
            </a>
          </li>
        </ul>
      </br-headline>
      <div class="alert alert-danger" ng-hide="model.credential || model.loading || model.state.credentials.loading">
        <strong>Error!</strong> Credential not found or access not allowed.
      </div>
    </div>
  </div>

  <div ng-if="model.credential">
    <div class="row">
      <div class="title-section col-md-12">
        <h1 class="headline" ng-bind="model.credential.name"></h1>
        <hr/>
      </div>
    </div>

    <div ng-if="!(model.loading || model.state.credentials.loading)">
      <div class="row">
        <div class="section col-md-12">
          <!-- FIXME: remove br-groups here, use config system -->
          <br-credential
            br-credential="model.credential"
            br-groups="model.groups"
            br-show-actions="false"></br-credential>
        </div>
      </div>
      <div class="row" ng-if="model.credential.sysDisplayContext">
        <div class="section col-md-12">
          <h3 class="headline">Context-specific Data
            (<a ng-click="model.contextDataVisible=!model.contextDataVisible">{{(model.contextDataVisible && 'Hide') || 'Show'}}</a>)</h3>
          <div data-collapse="!model.contextDataVisible">
            <pre>{{model.compacted|json}}</pre>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="section col-md-12">
          <h3 class="headline">Data
            (<a ng-click="model.dataVisible=!model.dataVisible">{{(model.dataVisible && 'Hide') || 'Show'}}</a>)</h3>
          <div data-collapse="!model.dataVisible">
            <pre>{{model.credential|json}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modals -->
  <stackable-modal stackable="model.modals.showEditCredentialModal"
    br-lazy-compile="model.modals.showEditCredentialModal"
    br-lazy-id="br-credential-edit-credential-modal">
    <div br-edit-credential-modal br-credential="model.modals.credential"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showExportCredentialModal"
    br-lazy-compile="model.modals.showExportCredentialModal"
    br-lazy-id="br-credential-export-credential-modal">
    <div br-export-credential-modal br-credential="model.modals.credential"></div>
  </stackable-modal>
  <!-- delete alert -->
  <stackable-modal stackable="model.modals.showDeleteCredentialAlert"
    stackable-closed="model.confirmDeleteCredential(err, result)"
    br-lazy-compile="model.modals.showDeleteCredentialAlert"
    br-lazy-id="br-credential-delete-credential-modal">
    <div br-alert-modal
      br-modal-header="Warning"
      br-modal-ok="Delete"
      br-modal-cancel="Cancel">
      <p>Are you sure that you want to delete this credential? This action can't be undone.</p>
      <!-- TODO: Show credential {{model.credential}} -->
    </div>
  </stackable-modal>
</div>
