<div class="section section-credentials">
  <br-headline br-title="{{(credentialType == 'issued' && 'Issued') || (credentialType == 'unclaimed' && 'Unclaimed') || 'Claimed'}} Credentials" br-loading="model.state.credentials.loading">
    <ul class="stackable-menu dropdown-menu">
      <li>
        <a class="stackable-cancel" ng-click="model.showSearch=!model.showSearch; model.search={}"><i class="fa fa-check-square-o" ng-show="model.showSearch"></i><i class="fa fa-square-o" ng-hide="model.showSearch"></i> Search</a>
      </li>
    </ul>
  </br-headline>
  <!-- credentials -->
  <div class="input-group" ng-show="model.showSearch">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="Search..." ng-model="model.search.name"></input>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="model.search={}"><i class="fa fa-close"></i></button>
    </span>
  </div>
  <table class="table table-condensed" ng-if="!model.state.credentials.loading && model.credentials.length > 0">
    <thead>
      <tr>
        <th class="name br-nowrap" ng-click="model.sortClick('name')">
          Credential
          <i class="fa fa-sort-up" ng-show="model.sorting.name == '+'"></i>
          <i class="fa fa-sort-down" ng-show="model.sorting.name == '-'"></i>
        </th>
        <th class="br-compact br-nowrap" ng-click="model.sortClick('issued')">
          Issued
          <i class="fa fa-sort-up" ng-show="model.sorting.issued == '+'"></i>
          <i class="fa fa-sort-down" ng-show="model.sorting.issued == '-'"></i>
        </th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="credential in model.credentials | orderBy:model.orderBy | filter:model.search"
        ng-class="{
          success: credentialType == 'issued' && credential.sysState == 'claimed'
        }"
        class="br-fadein br-fadeout" ng-if="!credential.deleted">
        <!-- label -->
        <td class="name">
          <a href="/credentials?id={{credential.id}}">{{credential.name || credential.id}}</a>
        </td>
        <!-- issued -->
        <td class="br-compact br-nowrap">
          {{credential.issued|date:'yyyy-MM-dd'}}
        </td>
        <!-- action -->
        <td class="br-action">
          <br-action-menu>
            <ul class="dropdown-menu stackable-menu">
              <li>
                <a class="stackable-cancel" ng-click="model.modals.credential=credential; model.modals.showEditCredentialModal=true">
                  <i class="fa fa-pencil"></i> Edit
                </a>
              </li>
              <li>
                <a class="stackable-cancel" ng-click="model.modals.credential=credential; model.modals.showExportCredentialModal=true">
                  <i class="fa fa-cloud-upload"></i> Export
                </a>
              </li>
              <li class="divider"></li>
              <li ng-show="credential.claim.id == model.identity.id" class="alert-danger">
                <a class="stackable-cancel" ng-click="model.modals.credential=credential; model.modals.showDeleteCredentialAlert=true">
                  <i class="fa fa-remove"></i> Delete
                </a>
              </li>
              <li ng-show="credential.issuer == model.identity.id" class="alert-danger">
                <a class="stackable-cancel" ng-click="model.modals.credential=credential; model.modals.showRevokeCredentialAlert=true">
                  <i class="fa fa-remove"></i> Revoke
                </a>
              </li>
            </ul>
          </br-action-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- none -->
  <div ng-if="!model.state.credentials.loading && model.credentials.length == 0">
    <p ng-show="credentialType == 'issued'" class="text-center">You have no issued credentials.</p>
    <p ng-show="credentialType == 'unclaimed'" class="text-center">You have no unclaimed credentials.</p>
    <p ng-show="credentialType == 'claimed'" class="text-center">You have no claimed credentials.</p>
  </div>

  <!-- modals -->
  <stackable-modal stackable="model.modals.showEditCredentialModal"
    br-lazy-compile="model.modals.showEditCredentialModal" br-lazy-id="br-credentials-list-edit-credential-modal">
    <br-edit-credential-modal br-credential="model.modals.credential"></br-edit-credential-modal>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showExportCredentialModal"
    br-lazy-compile="model.modals.showExportCredentialModal" br-lazy-id="br-credentials-list-export-credential-modal">
    <br-export-credential-modal br-credential="model.modals.credential"></br-export-credential-modal>
  </stackable-modal>
  <!-- delete alert -->
  <stackable-modal stackable="model.modals.showDeleteCredentialAlert"
    stackable-closed="model.confirmDeleteCredential(err, result)"
    br-lazy-compile="model.modals.showDeleteCredentialAlert" br-lazy-id="br-credentials-list-delete-credential-modal">
    <div br-alert-modal
      br-modal-header="Warning"
      br-modal-ok="Delete"
      br-modal-cancel="Cancel">
      <p>Are you sure that you want to delete this credential? This action can't be undone.</p>
      <br-credential br-credential="model.modals.credential"></br-credential>
    </div>
  </stackable-modal>
</div>
