<br-modal br-title="Export Credential">
  <div name="br-modal-body">
    <br-demo-warning></br-demo-warning>
    <form class="well form-horizontal">
      <fieldset>
        <br-radio-group br-model="model.exportType"
          br-group="[
            {label: 'JSON-LD', value: 'jsonld'}
          ]"
          br-options="{
            inline: true,
            name: 'exportType',
            label: 'Export',
            columns: {label: 'col-sm-2', help: 'col-sm-offset-2 col-sm-9'}
          }">
          Please select the type of credential to export.
        </br-radio-group>

        <div ng-show="model.exportType == 'jsonld'">
          <div class="row">
            <div class="col-sm-12">
              <p>This is the <a href="http://json-ld.org/">JSON-LD</a> for your credential. Some tools may allow you to import this data directly. It can also be used as a data backup.</p>
            </div>
          </div>
          <br-textarea br-model="model.exportJsonLd"
            br-options="{
              name: 'exportJsonLd',
              placeholder: 'JSON-LD',
              rows: {{model.exportJsonLdRows}},
              class: 'br-nowrap',
              style: 'resize: none',
              readonly: true,
              wrap: 'off',
              columns: {textarea: 'col-sm-12', help: 'col-sm-12'}
            }">
            This is the JSON-LD for the credential.
          </br-textarea>
        </div>
      </fieldset>
    </form>
  </div>
  <div name="br-modal-footer">
    <span ng-show="model.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
    <button type="button" class="btn btn-primary"
      ng-show="model.exportType == 'jsonld'"
      ng-disabled="model.loading"
      ng-click="model.exportCredential()"><i class="fa fa-check"></i> Done</button>
    <button type="button" class="btn btn-default stackable-cancel"
      ng-disabled="model.loading">Cancel</button>
  </div>
</br-modal>
